<launch>
    <!-- 打开webots -->
    <include file="$(find webots_demo)/launch/webots.launch" />
    <arg name="model" />
    <arg name="gui" default="false" />
    
    <!-- 载入机器人模型 
    <node name="LoadGoodBot_controller" pkg="webots_demo" type="LoadGoodBot_controller" />-->
    <param name="robot_description" textfile="$(find webots_demo)/urdf/demo.urdf" />
    <param name="use-gui" value="$(arg gui)" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> 
    <node name="robot_broadcaster" pkg="webots_demo" type="robot_broadcaster" />
    



    <!-- 打开rviz -->
    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find webots_demo)/rviz/demo.rviz"/>

    <include file="$(find webots_demo)/launch/move_base.launch" />
    <node name="demo_2dnav_move" pkg="webots_demo" type="demo_2dnav_move" />

</launch>

